<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>servletBinding</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
   <context-param>
            <param-name>driver</param-name>
            <param-value>oracle.jdbc.driver.OracleDriver</param-value>
  </context-param>
  <context-param>
            <param-name>url</param-name>
            <param-value>jdbc:oracle:thin:@localhost:1521:oracle</param-value>
  </context-param>
  <context-param>
            <param-name>user</param-name>
            <param-value>scott</param-value>
  </context-param>
  <context-param>
            <param-name>pass</param-name>
            <param-value>tiger</param-value>
  </context-param>
  
  <servlet>
    <description></description>
    <display-name>GuguCalc001</display-name>
    <servlet-name>GuguCalc001</servlet-name>
    <servlet-class>gugu.GuguCalc001</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GuguCalc001</servlet-name>
    <url-pattern>/gugu1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GuGuCalc002</display-name>
    <servlet-name>GuGuCalc002</servlet-name>
    <servlet-class>gugu.GuGuCalc002</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GuGuCalc002</servlet-name>
    <url-pattern>/gugu2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GuGuCalc003</display-name>
    <servlet-name>GuGuCalc003</servlet-name>
    <servlet-class>gugu.GuGuCalc003</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GuGuCalc003</servlet-name>
    <url-pattern>/gugu3</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RedirectServlet</display-name>
    <servlet-name>RedirectServlet</servlet-name>
    <servlet-class>gugu.RedirectServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RedirectServlet</servlet-name>
    <url-pattern>/redirect</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SvltConfig</display-name>
    <servlet-name>SvltConfig</servlet-name>
    <servlet-class>config.SvltConfig</servlet-class>
    <init-param>
      <description></description>
      <param-name>name</param-name>
      <param-value>BABO</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>SvltConfig</servlet-name>
    <url-pattern>/config</url-pattern>
  </servlet-mapping>

  <servlet>
    <description></description>
    <display-name>SvletContext</display-name>
    <servlet-name>SvletContext</servlet-name>
    <servlet-class>context.SvletContext</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SvletContext</servlet-name>
    <url-pattern>/context</url-pattern>
  </servlet-mapping>
</web-app>